# Numerous always-ignore extensions
excel.html
word.html
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.avi
*.pdf
*.PDF
*.txt
*.xlsx
*.xls
*.docx
*.doc
*.csv
*.dat
*~
logs/

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject/
*.sublime-project
*.sublime-workspace
.idea

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
node_modules
assets/uploads/

# netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
nbproject/private/private.xml
nb-configuration.xml
nb-configuration.xml
nbproject/private/private.xml


#documentos de matrix

actfij/procesos/copia/
admisiones/procesos/copia/
admisiones/reportes/copia/
agenda/procesos/Copia/
agenda/reportes/Copia/
ambiental/publicaciones/
ameenv/procesos/copia/
asamblea/copia/
asamblea/procesos/copia/
ayucni/procesos/estudios/
ayucni/procesos/resultados/
calidad/procesos/copia/
calidad/reportes/copia/
cen_camilleros/procesos/copia/
cen_camilleros/reportes/copia/
cenest/procesos/copia/
cenest/reportes/copia/
cenpro/procesos/copia/
cenpro/reportes/copia/
chequeo/procesos/copia/
cirujanos/reportes/copia/
citas/procesos/copia/
citas/reportes/copia/
clisur/reportes/copia/
comunic/reportes/copia/
comunic/reportes/Tutorial/
consentimiento/
copaso/publicaciones/copia/
cotizaci/procesos/copia/
cotizaci/reportes/copia/
cuidadoint/reportes/copia/
def/
dircie/procesos/copia/
dircie/reportes/copia/
endoscopia/reportes/copia/
eventos/reportes/copia/a
fachos/procesos/copia/
fachos/procesos/facturas/
facturacion/procesos/copia/
facturacion/reportes/copia/
fondos/extractos/
fondos/procesos/copia/
fondos/publicaciones/copia/
fondos/reportes/copia/
gesapl/procesos/copia/
habeasdb/procesos/copia/
hcczr/reportes/copia/
hcczr/reportes/copia/r
hce/copia/
hce/manuales/copia/
hce/procesos/copia/
hce/procesos/impresion_ordenes/
hce/procesos/mipres/
hce/procesos/reportes/copia/
hce/procesos/seguimiento_ordenes.txt
hce/Recovery/
hce/reportes/cenimp/
hce/reportes/copia/
hcjajo/reportes/copia/
hcortop/reportes/copia/
hemodinamia/procesos/copia/
hepati/publicaciones/copia/
horas/procesos/copia/
horas/reportes/copia/
ica/documentos/
imagenologia/reportes/copia/
images/
ingenia/procesos/copia/
interoperabilidad/procesos/copia/
invecla/reportes/copia/
ips/e-facturas/
ips/procesos/copia/
ips/procesos/soportes/
ips/reportes/copia/
ips/reportes/facturas/
Jquery/
juridica/documentos/
juridica/procesos/copia/
magenta/procesos/copia/
magenta/reportes/copia/
mercadeo/reportes/copia/
movhos/copia/
movhos/manuales/
movhos/procesos/admisiones.txt
movhos/procesos/admisionPreentrega.txt
movhos/procesos/camasOcupadas.dat
movhos/procesos/contingencia_kardex/
movhos/procesos/copia/
movhos/reportes/copia/
niif/procesos/copia/
niif/reportes/copia/
nomina/procesos/copia/
nomina/reportes/copia/
nuclear/reportes/copia/
oftalhc/reportes/copia/
paf/procesos/copia/
paffaca/procesos/copia/
pafsom/procesos/copia/
pafsura/procesos/copia/
paftotal/procesos/copia/
pdavaant/procesos/Copia/
planos/
pos/procesos/copia/
pos/procesos/copias/
pos/reportes/copia/
presupuestos/procesos/copia/
presupuestos/reportes/copia/
procesos/reportes/copia/
regact/procesos/copia/
regmed/reportes/copia/
respaldo/
root/procesos/copia/
root/procesos/logValidacionGrabacionCargos.txt
root/procesos/seguimientolabmatrixdos.txt
root/reportes/copia/
servinte/procesos/copia/
sgc/procesos/copia/
sgc/reportes/copia/
socios/archivos/
socios/fotos/
soe/procesos/copia/
soe/reportes/copia/
soporte/procesos/copia/
soporte/reportes/copia/
tal_huma/procesos/copia/
tal_huma/reportes/copia/
talento/procesos/copia/
tcx/procesos/copia/
tcx/reportes/copia/
tesorhon/reportes/copia/
tmo/reportes/copia/
unisue/reportes/copia/
urgencias/reportes/copia/
votaciones/procesos/copia/
votaciones/reportes/copia/
webservices/procesos/copia/
zpcal/
zpgrid/
