html body
{
    margin: 0 auto 0 auto;
}
.main
{
    margin-top: 5px;
}
.encabezado
{
    text-align: center;
}
.titulo span label
{
    font-size: large;
    font-weight: bold;
    color: white;
}
#idGeneral
{
    border: 1px solid #428BCA;
    width: 100%;
    margin: 0 auto 10px auto;
}
#idGeneral div
{
    margin: 5px auto 5px auto;
    /*width: 70%;*/
    width: 95%;
}
.spanIdGen
{
    width: 184px;
}
.inputIdGen
{
    width: 200px;
}
.tabsGen
{
    text-align: center;
}
.labelTitulo
{
    margin-top: 0;
    background-color: #D9EDF7;
    padding: 5px 0 5px 0;
    text-align: center;
}
.tblNivE
{
    width: 100%;
}
.tblNivE thead
{
    color: #FFFFFF;
    background-color: #2A5DB0;
}
.tblNivE tbody tr
{
    border: 1px solid #428BCA;
}
.alternar:hover
{
    background-color: #D9EDF7;
}
#divAddEst
{
    margin-top: 10px;
    margin-bottom: 20px;
}
#divDatEst div
{
    margin-bottom: 5px;
}
#divDatEst div span
{
    width: 200px;
}
.inpEst
{
    width: 1000px;
}
.mainOps
{
    width: 60%;
    border: none;
    margin: auto 10px auto 10px;
}
#divAddEst2
{
    margin-top: 30px;
}

/*----RADIO BUTTONS:*/

.wrapper{
    /*background: #497dd0;*/
    background-color: transparent;
    /*padding:100px;*/
}

.toggle_radio{
    position: relative;
    /*background: rgba(255,255,255,.1);*/
    background: #0078D4;
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 26px;
    width: 350px;
}
.toggle_radio > * {
    float: left;
}
.toggle_radio input[type=radio]{
    display: none;
    /*position: fixed;*/
}
.toggle_radio label{
    /*font: 90%/1.618 "Source Sans Pro";*/
    font-weight: bold;
    color: rgba(255,255,255,.9);
    z-index: 0;
    display: block;
    width: 110px;
    height: 20px;
    margin: 3px 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    /*margin: 0 2px;*/
    /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
    /*display: none;*/
    /*background: red;*/
    width: 115px;
    height: 20px;
    position: absolute;
    top: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 118px;
}
#tercer_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 230px;
}

/*-----------------------*/

/*---- CHECK BOX:*/

.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***************/

.tblNuFam
{
    width: 100%;
}
.tblNuFam td
{
    border-right: 1px solid #428BCA;
}
.tblNuFam thead
{
    color: #FFFFFF;
    background-color: #2A5DB0;
}
.tblNuFam tbody tr
{
    border: 1px solid #428BCA;
}
.tdTblVivi
{
    background: #2A5DB0;
    color: #FFFFFF;
    font-size: 13px;
    width: 50%;
}

/*---- CHECK BOX:*/

.container3 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container3 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark3 {
    position: absolute;
    top: 3px;
    left: 160px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container3:hover input ~ .checkmark3 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container3 input:checked ~ .checkmark3 {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark3:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container3 input:checked ~ .checkmark3:after {
    display: block;
}

/* Style the checkmark/indicator */
.container3 .checkmark3:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***************/

.tdTblTrans
{
    background: #2A5DB0;
    color: #FFFFFF;
    font-size: 13px;
    width: 50%;
}

/*---- CHECK BOX:*/

.container4 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container4 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark4 {
    position: absolute;
    top: 3px;
    left: 220px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container4:hover input ~ .checkmark4 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container4 input:checked ~ .checkmark4 {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark4:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container4 input:checked ~ .checkmark4:after {
    display: block;
}

/* Style the checkmark/indicator */
.container4 .checkmark4:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***************/

/*---- CHECK BOX:*/

.container5 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container5 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark5 {
    position: absolute;
    top: 3px;
    left: 280px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container5:hover input ~ .checkmark5 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container5 input:checked ~ .checkmark5 {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark5:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container5 input:checked ~ .checkmark5:after {
    display: block;
}

/* Style the checkmark/indicator */
.container5 .checkmark5:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***************/

#divFoto
{
    border: 1px solid #428BCA;
}

/*---- CHECK BOX:*/

.container6 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container6 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark6 {
    position: absolute;
    top: 3px;
    left: 330px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container6:hover input ~ .checkmark6 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container6 input:checked ~ .checkmark6 {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark6:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container6 input:checked ~ .checkmark6:after {
    display: block;
}

/* Style the checkmark/indicator */
.container6 .checkmark6:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***************/

/*---- CHECK BOX:*/

.container7 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container7 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark7 {
    position: absolute;
    top: 3px;
    left: 330px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container7:hover input ~ .checkmark7 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container7 input:checked ~ .checkmark7 {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark7:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container7 input:checked ~ .checkmark7:after {
    display: block;
}

/* Style the checkmark/indicator */
.container7 .checkmark7:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***************/

#divSaveGen
{
    margin-top: 20px;
    margin-bottom: 10px;
}

/*---- CHECK BOX COMITÉS:*/

.container8 {
    display: block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container8 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark8 {
    position: absolute;
    top: 3px;
    left: 355px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container8:hover input ~ .checkmark8 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container8 input:checked ~ .checkmark8 {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark8:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container8 input:checked ~ .checkmark8:after {
    display: block;
}

/* Style the checkmark/indicator */
.container8 .checkmark8:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***************/

/*---- CHECK BOX COMITÉS - 2:*/

.container9 {
    display: block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container9 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark9 {
    position: absolute;
    top: 3px;
    left: 260px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container9:hover input ~ .checkmark9 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container9 input:checked ~ .checkmark9 {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark9:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container9 input:checked ~ .checkmark9:after {
    display: block;
}

/* Style the checkmark/indicator */
.container9 .checkmark9:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
