html body
{
    margin: 0 auto 0 auto;
}
.main
{
    margin-top: 5px;
}

.encabezado
{
    text-align: center;
}

.titulo span label
{
    font-size: large;
    font-weight: bold;
    color: white;
}

#idGeneral
{
    border: 1px solid #428BCA;
    width: 80%;
    margin: 0 auto 10px auto;
}

#idGeneral div
{
    margin: 5px auto 5px auto;
    width: 70%;
}

#divPaso1
{
    text-align: center;
}

.labelArchivo
{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #106BA0;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
}

#files
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#files2
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#files3
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.labelTitulo
{
    background-color: #D9EDF7;
    padding: 5px 0 5px 0;
}

.parrafo1
{
    font-family: serif;
}

.divExcel
{
    text-align: center;
    margin-top: 3px;
    display: block;
}