		A	{text-decoration: none;color: #000066;}
    	
    	#tipoT01{color:#000000;background:#FFFFFF;font-size:5pt;font-family:Arial;font-weight:bold;width:15em;text-align:center;height:2em;}
    	#tipoT02{color:#000000;background:#C3D9FF;font-size:10pt;font-family:Arial;font-weight:bold;width:65em;text-align:left;height:2em;}
    	.tipoTABLEGRID{font-family:Arial;border-style:solid;border-collapse:collapse;}	
		.tipoGRID1{color:#000066;background:#FFFFFF;font-size:8pt;font-family:Arial;font-weight:bold;text-align:center;height:1em;}
		.tipoGRID2{color:#000066;background:#FFFFFF;font-size:8pt;font-family:Arial;font-weight:bold;text-align:justify;width:80em;}
		#tipoL01GRID{color:#000066;background:#999999;font-size:9pt;font-family:Arial;font-weight:bold;text-align:center;height:1em;width:80em;}
		#tipoL02GRID{color:#000066;background:#dddddd;font-size:8pt;font-family:Arial;font-weight:bold;text-align:left;height:1em;width:80em;}
		.tipoGRID3{color:#000066;background:#C3D9FF;font-size:8pt;font-family:Arial;font-weight:bold;text-align:center;height:1em;}
		.tipoGRID4{color:#000066;background:#E8EEF7;font-size:8pt;font-family:Arial;font-weight:bold;text-align:center;height:1em;}
		.tipoGRID5{color:#000066;background:#dddddd;font-size:8pt;font-family:Arial;font-weight:bold;text-align:center;height:1em;}
		.tipoGRID6{color:#000066;background:#dddddd;font-size:8pt;font-family:Arial;font-weight:bold;text-align:center;height:1em;}
		
