* {
	margin: 0;
	padding: 0;
}

body{
	background: #E6E8FA; /*url(/matrix/images/caro/img01.gif) repeat-x;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00009C;
}

h1, h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #00009C;
}

h1 {
	font-size: 100%;
}

h2 {
	font-size: 100%;
}

h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	font-size: 100%;
	color: #000000;
}


th {
	text-transform: uppercase;
	font-size: 12px;
	color: #CCFFFF; /*#FFFFFF;  /*#000000; */
	/* background: #99cc99; */
	background:#0066FF;
}

td {
	text-transform: uppercase;
	font-size: 12px;
	color: #666666;
}

/* Header */

#header {
	width: 960px;
	height: 20px;
	/*margin: 0 auto;*/
	margin: 10px;
}

/* Logo */

#logo {
	float: center;
}

#logo h1, #logo h2 {
	float: left;
}

#logo h1 {
	padding-top: 10px;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: normal;
}

#logo h2 {
	padding: 55px 0 0 3px;
	text-transform: uppercase;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
}

#logo a {
	text-decoration: none;
	color: #00009C;
}

/* Page */

#page {
	padding: 30px 0 0 0;
}

.box-pink {
	background: url(/matrix/images/caro/img17.gif) repeat-x;
	float: center;
	width: 500px;
}

.box-pink .section {
	background: url(/matrix/images/caro/img19.gif) no-repeat right top;
	font-size: 120%;
	color: #FFFFFF;
}

box-pink .section b {
	display: block;
	height: 23px;
	padding: 7px 0 0 10px;
	background: url(/matrix/images/caro/img14.gif) no-repeat;
}

.box-pink .content {
	padding: 20px;
}

.box-orange {
	background: url(/matrix/images/caro/img09.gif) repeat-x;
	float: center;
	width: 960px;
}

.box-orange .section {
	background: url(/matrix/images/caro/img11.gif) no-repeat right top;
	font-size: 120%;
	color: #FFFFFF;
}

.box-orange .section b {
	display: block;
	height: 23px;
	padding: 7px 0 0 10px;
	background: url(/matrix/images/caro/img10.gif) no-repeat;
}

.box-orange .content {
	padding: 20px;
}

.box-blue  {
	background:  url(/matrix/images/caro/img13.gif) repeat-x;
	float: center;
	width: 960px;
}

.box-blue .section {
	background: url(/matrix/images/caro/img15.gif) no-repeat right top;
	font-size: 120%;
	color: #FFFFFF;
}

.box-blue .section b {
	display: block;
	height: 23px;
	padding: 7px 0 0 10px;
	background: url(/matrix/images/caro/img14.gif) no-repeat;
}

.box-blue .content {
	padding: 20px;
}

#feature {
	margin-bottom: 20px;
}

#searchinput, #searchsubmit {
	font: bold Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

#searchinput {
	padding: 2px 5px;
	background: #FFFFFF url(/matrix/images/caro/img02.gif) repeat-x;
	border: 1px solid #3490F8;
}

#searchsubmit {
	padding: 0 2px;
	background: #F4A652 url(/matrix/images/caro/img03.gif) repeat-x;
	border: 5px solid #3490F8;
	text-transform: uppercase;
}

.alertaOk {

	height: 35px;
	padding: 2px 0 0px 0px;
	color:#3490F8;
	background: url(/matrix/images/medical/root/feliz.ico) no-repeat;
}

a:hover, a:active {
	color: #F89934;
}

a:visited {
	color: #666666;
}

a:link {
	color: #3490F8;
}

table.sortable a.sortheader {background-color:#eee; color:#666666; font-weight: bold; text-decoration: none; display: block; }
table.sortable span.sortarrow {color: black; text-decoration: none; }
