.divGeneral
{
    margin-top: 10px;
}

.divContenido
{
    border: inset;
    margin: 20px auto 0 auto;
    width: 70%;
}

.divEncabezado
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.divEncabezado div span label
{
    font-size: medium;
}

.divDatosGenerales table
{
    margin-left: 10px;
}
.lblNormal
{
    font-weight: normal;
}

.divDatosEspecificos
{
    border-top: inset;
    border-color: dimgray;
    margin-top: 10px;
    margin-bottom: auto;
}

.tblDatosEspecificos
{
    width: 100%;
    margin-left: 5px;
}

.tblDetalle
{
    margin-top: 10px;
    margin-left: 5px;
}

.tdDetalle
{
    border-right: groove;
    text-align: center;
}

.divPiepagina
{
    border-color: dimgray;
    /*margin-top: 50px;*/
}

.divPiepagina table
{
    width: 100%;
    border-top: inset;
    border-color: black;
    margin-top: 5px;
}

.tblDetalle2
{
    margin-right: 70px;
    margin-top: 30px;
}

.divPrint
{
    margin: 20px auto auto auto;
}

/* --- IMPRESION --- */

.divContenidoPrint
{
    border: inset;
    margin: 20px auto 0 auto;
    width: 98%;
}